<table class="table">
  <tbody>
    <tr>
      <td>Длинна автомобиля</td>
      <td>{{ product.lenght_car }}</td>
    </tr>
      <tr>
      <td>Производитель</td>
      <td>{{ product.car_brend }}</td>
    </tr>
      <tr>
      <td>Мощность двигателя</td>
      <td>{{ product.hs_power}}</td>
    </tr>
      <tr>
      <td>Крутящий момент двигателя</td>
      <td>{{ product.n_power }}</td>
    </tr>
      <tr>
      <td>Расход топлива</td>
      <td>{{ product.fuel_consumption }}</td>
  </tbody>
</table>
