<table class="table">
  <tbody>
    <tr>
      <td>Производитель</td>
      <td>{{ product.car_brend }}</td>
    </tr>
      <tr>
      <td>Мощность двигателя</td>
      <td>{{ product.hs_power  }}</td>
    </tr>
      <tr>
      <td>Крутящий момент двигателя</td>
      <td>{{ product.n_power }}</td>
    </tr>
      <tr>
      <td>Разгон 0-100</td>
      <td>{{ product.zero_hundred }}</td>
    </tr>
      <tr>
      <td>Вес автомобиля</td>
      <td>{{ product.weight }}</td>
    </tr>
      <tr>
      <td>Максимальная скорость'</td>
      <td>{{ product.max_speed}}</td>
  </tbody>
</table>
